.grid-products-filters{
    display: flex;
    align-items: center;
    font-size: 24px;
    padding-bottom: 24px;
    border-bottom: solid 1px $grey;
    .quantity{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 20px;
        color: $dark-silver;
    }
    .grid-divider{
        background-color: $grey;
        width: 0.06rem;
        height: 3rem;
        margin: 0 1.375rem;
    }
    .sort-by{
        display: flex;
        align-items: center;
        color: $grey;

        .filters{
            button{
                margin: 0px 15px;
            }
        }
    }
}

.grid-products-container{
    margin-top: 50px;
    display: flex;
    gap: 50px;
}