.product-button{
    background:#ffffff;
    box-shadow:2px 2px 4px 0 rgba(0,0,0,0.10);
    width: 276px;
    height:276px;
    padding: 0px;
    border: none;
    cursor: pointer;
    position: relative;
    &:hover{
        
    }
    .initial-product-view{
        position: relative;
        padding: 5px 25px;
        .product-image{
            width: 100%;
            border-bottom: 1px solid $grey;
            img{
                width: 100%;
            }
        }
    
        .product-description{
            text-align: start;
            .section{
                font-size: 16px;
                color: $grey;
            }
            .name{
                font-size: 18px
            }
        }
        .float-buy-button{
            position: absolute;
            top: -10px;
            right: 5px;
            width:42px;
            height:42px;
            display: none;
        }
        .float-need-button{
            position: absolute;
            top: 10px;
            right: 10px;
            letter-spacing:-0.03px;
            font-size:14px;
            cursor: pointer;

            img{
                margin-left: 5px;
                width: 20px;
                height: 20px;
            }
        }
    }

    .action-product{
        display: none;
        position: absolute;
        background-image:linear-gradient(-180deg, #0ad4fa 0%, #25bbf1 100%);
        width:100%;
        height:276px;
        top: 0;
    }
}