.product-button{
    background:#ffffff;
    box-shadow:2px 2px 4px 0 rgba(0,0,0,0.10);
    width:276px;
    height:276px;
    border: none;
    &:hover{
        
    }
    .product-image{
        width: 100%;
        img{
            width: 100%;
        }
    }

    .product-description{

    }
}