$primary-font: "Source Sans Pro", sans-serif;

//colors
$background-white: #f9f9f9f9;
$white: #ededed;
$dark-silver: #616161;
$grey: #a3a3a3;
$light-blue: #0ad4fa;

// Breakpoints
$screen-xs: 560px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;